<section class ="page" id="about-page">
         <image id=aboutImage src="./images/olympicCoast.png">
    <h2>About Carter Hearts</h2>
 
     <p class="tab"> This app was made out of an apprection of Hearts, the preferred card game of the Carter Family.  This app was made by Mugsy Carter, using the the javascript MEAN stack.  You can send any comments or questions to <a href="https://github.com/MugsyCarter"> https://github.com/MugsyCarter</a>. <p class="tab"></p> 
   
    <br>  
    
    <p class="tab">Mugsy has the traditional Carter family love of hearts, the outdoors, science, literature, good company, and bad taste.  The Carters depicted in this game are real people, and are much better at hearts, and much worse at polite converation, in person.</p>
    <!--image here?  -->
    <footer>
      <p class="footerText"><span class="branding">&copy; Mugsy Carter, 2016</span></p>
    </footer>
</section>