 <section>
    <header>
        <nav class="main-nav">
            <ul>
            <div class="icon-menu"></div>
            <li class="firstLink"><a href="/" id="home-link"  ng-class='{"activeLink":$ctrl.link["home"]===true}' ng-click="$ctrl.clicked('home')"><span class="branding">Carter-Hearts</span></a></li>
            <li class="link"><a ui-sref="play" id="play-link" ng-class='{"activeLink":$ctrl.link["play"]===true}' ng-click="$ctrl.clicked('play')">Play Now</a></li>
            <li class="link"><a ui-sref="rules" id="rules-link"  ng-class='{"activeLink":$ctrl.link["rules"]===true}' ng-click="$ctrl.clicked('rules')">Rules</a></li>
            <li class="link"><a ui-sref="settings" id="settings-link"  ng-class='{"activeLink":$ctrl.link["settings"]===true}' ng-click="$ctrl.clicked('settings')">Settings</a></li>
            <li class="link"><a ui-sref="about" id="about-link"  ng-class='{"activeLink":$ctrl.link["about"]===true}' ng-click="$ctrl.clicked('about')">About</a></li>
            </ul>
        </nav>
    </header>
  
    <div class="main-content">
        <ui-view></ui-view>
    </div>
  </section>