 <section>
    <header>
        <nav class="main-nav">
            <ul>
            <div class="icon-menu"></div>
            <li class="link"><a href="/" id="home-link"><span class="branding">Carter-Hearts</span></a></li>
            <li class="link"><a ui-sref="play" id="play-link">Play Now</a></li>
            <li class="link"><a ui-sref="rules" id="rules-link">Rules</a></li>
            <li class="link"><a ui-sref="about" id="about-link">About</a></li>
            </ul>
        </nav>
    </header>
  
 <div  class="main-content">
        <ui-view></ui-view>
    </div>
  </section>