
 <section class ="page" id="play-page">
    <div>
        <h1 ng-if="$ctrl.beginning===true">Play Carter Hearts!</h1>
        <h1 ng-if="$ctrl.handStart===true">Deal Next Hand</h1>
        <h1 ng-if="$ctrl.gameOver===true">Game Over</h1>
        <h1 class = "gameMessage" ng-if="$ctrl.gameOver===true">{{$ctrl.winMessage}}</h1>
        <div class="banner">
            <button class="button" id="deal-button" ng-click="$ctrl.dealCards()" ng-if="$ctrl.showDeal===true"><h1 id="buttonMessage">Deal</h1></button>
            <button class = "button" id="pass-button" ng-if="$ctrl.passReady===true" ng-click="$ctrl.passCards()"><h1 id="buttonMessage">Pass</h1></button>
            <h1 class='gameMessage' id="passing-message" ng-if="$ctrl.passReady===true">Select three cards to pass.<br>Your target is {{$ctrl.passPlayer}}.</h1>
            <h1 class ='gameMessage' id="hold-hand-message" ng-if="$ctrl.holdHand===true">It's a Hold Hand!<br>No passing.</h1>
            <h1 class ='gameMessage' id="twoMessage" ng-if="$ctrl.playTwo===true">Play the two of clubs.</h1>
             <h1 class ='gameMessage' id="trickMessage" ng-if="$ctrl.turnOver===true">{{$ctrl.players[$ctrl.high]}} took the trick</h1>
            <h1 class ='gameMessage' id="runMessage" ng-if="$ctrl.runMessage===true">{{$ctrl.players[$ctrl.run]}} successfully shot the moon!</h1>
            <h1 class ='errorMessage' id="small-pass-message" ng-if="$ctrl.badPass===true">You must select exactly 3 cards to pass to {{$ctrl.passPlayer}}.<br>You have {{$ctrl.passArray.length}} cards selected.</h1>
            <h1 class ='errorMessage' id="notVoidedMessage" ng-if="$ctrl.suitError===true">The lead was {{$ctrl.leadSuit}}.  <br>You cannot play {{$ctrl.playerSuit}} while you still have {{$ctrl.leadSuit}} in your hand.  Nice try!</h1>
             <h1 class ='errorMessage' id="firstHandMessage" ng-if="$ctrl.firstHandError===true">You cannot play any point card (a Heart or the Queen of Spades) on the first hand.<br>Amateur!</h1>
              <h1 class ='errorMessage' id="twoErrorMessage" ng-if="$ctrl.twoError===true">If you have the deuce, you've gotta play the deuce.</h1>
               <h1 class ='errorMessage' id="heartsBrokenMessage" ng-if="$ctrl.heartLeadError===true">You cannot lead a heart until they've been broken (or unless you have nothing else).</h1>
            <button class="button" id="playButton" ng-if="$ctrl.playReady===true" ng-click="$ctrl.startPlay()"><h1 id="playMessage" >Begin Play!</h1></button>
           
               <button class="button" id="playButton" ng-if="$ctrl.playAgain===true" ng-click="$ctrl.newGame()"><h1 id="playMessage" >Play Again</h1></button>
        </div>

        <div id="scoreboard">
            <table>
                <th>
                    <td>You</td>
                    <td>Dale</td>
                    <td>Denny</td>
                    <td>Aileen</td>
                </th>

                <tr>
                    <td id="semitotal">Hand Points</td>
                    <td id="semitotal"> {{$ctrl.playerSemis[0]}}</td>
                    <td id="semitotal"> {{$ctrl.playerSemis[1]}}</td>
                    <td id="semitotal"> {{$ctrl.playerSemis[2]}}</td>
                    <td id="semitotal"> {{$ctrl.playerSemis[3]}}</td>
                </tr>

                <tr>
                    <td>Total Points</td>
                    <td id="score"> {{$ctrl.playerScores[0]}}</td>
                    <td id="score"> {{$ctrl.playerScores[1]}}</td>
                    <td id="score"> {{$ctrl.playerScores[2]}}</td>
                    <td id="score"> {{$ctrl.playerScores[3]}}</td>
                </tr>
              
            </table>
        </div>

        <div class="playArea">
            <image id="player0Card" ng-if="$ctrl.playedCards[0]" src="{{$ctrl.playedCards[0].image}}">
            <image class="playerImage" id="player1Image" ng-if="$ctrl.beginning===false" src="./images/dalecarter.png">
            <image id="player1Card" ng-if="$ctrl.playedCards[1]" src="{{$ctrl.playedCards[1].image}}">
             <image class="playerImage" id="player2Image" ng-if="$ctrl.beginning===false" src="./images/dennycarter.png">
            <image id="player2Card" ng-if="$ctrl.playedCards[2]" src="{{$ctrl.playedCards[2].image}}">
            <image class="playerImage" id="player3Image" ng-if="$ctrl.beginning===false" src="./images/aileencole.png">
            <image id="player3Card" ng-if="$ctrl.playedCards[3]" src="{{$ctrl.playedCards[3].image}}">  
            <button class="button" id="newTrickButton" ng-if="$ctrl.turnOver===true" ng-click="$ctrl.newTrick()"><h1 id="buttonMessage">Next Trick</h1></button>
        </div>

        <!--<div class="compHand">
            <ul class="comp1Hand">
                <li class="comp1Card" ng-repeat="compCard in $ctrl.hands[1]" >
                    <img src="{{compCard.image}}" >
                </li>
            </ul>
        </div>
        <div class="compHand2">
        </div>
        <div class="compHand3">
        </div>-->

      
        <div class="playerHand">
            <ul class="hand">
                <li class="playerCard" ng-repeat="card in $ctrl.hand" >
                    <button ng-click="$ctrl.clicked(card)" ng-class="{'selectedCard' : card.toggled, 'cardButton' : !card.toggled}"><img src="{{card.image}}" ></button>
                </li>
            </ul>
        </div>

    </div>
</section>
