
 <section class ="page" id="play-page">
    <div>
        <h2 ng-if="$ctrl.beginning===true" id="playMessage">Play Carter Hearts!</h2>
        <!--<h1 id="phoneMessage" ng-if="$ctrl.beginning===true">Turn your phone sideways.</h1>    -->
        <h2 ng-if="$ctrl.handStart===true">Deal Next Hand</h2>
        <h1 ng-if="$ctrl.gameOver===true">Game Over</h1>
        <h1 class = "gameMessage" ng-if="$ctrl.gameOver===true">{{$ctrl.winMessage}}</h1>
        <div class="banner">
             <h1 class='gameMessage' id="player-select-message" ng-if="$ctrl.playerSelect===true && $ctrl.opponentSelect===false">Select your player.
             <button class="button" id="player-select-button" ng-click="$ctrl.playerSelected()" ng-if="$ctrl.playerSelect===true && $ctrl.opponentSelect===false"><h1 id="buttonMessage">Done</h1></button></h1>
            <h1 class ='errorMessage' id="no-player-message" ng-if="$ctrl.playerChoice==={}">Choose a player from the images below.</h1>

            <h1 class='gameMessage' id="opponent-select-message" ng-if="$ctrl.opponentSelect===true">Select three opponents.
             <button class="button" id="opponent-select-button" ng-click="$ctrl.opponentsSelected()" ng-if="$ctrl.opponentSelect===true"><h1 id="buttonMessage">Done</h1></button>
            <h1 class ='errorMessage' id="no-player-message" ng-if="$ctrl.playersLengthError">Choose three opponents from the images below.</h1></h1>

            <button class="button" id="deal-button" ng-click="$ctrl.dealCards()" ng-if="$ctrl.showDeal===true"><h1 id="bigButtonMessage">Deal</h1></button>

            <button class="button" id="change-players-button" ng-click="$ctrl.changePlayers()" ng-if="$ctrl.beginning===true && $ctrl.playerSelect===false"><h1 id="bigButtonMessage">Change Players</h1></button>

            <button class = "button" id="pass-button" ng-if="$ctrl.passReady===true" ng-click="$ctrl.passCards()"><h1 id="buttonMessage">Pass</h1></button>
            <h1 class='gameMessage' id="passing-message" ng-if="$ctrl.passReady===true">Select three cards to pass.<br>Your target is {{$ctrl.passPlayer.name}}.</h1>
            <h1 class='gameMessage' id="low-man-message" ng-if="$ctrl.passReady===true">{{$ctrl.lowMan}}</h1>
            <h1 class ='gameMessage' id="hold-hand-message" ng-if="$ctrl.holdHand===true">It's a Hold Hand!<br>No passing.</h1>
            <h1 class ='gameMessage' id="twoMessage" ng-if="$ctrl.playTwo===true">Play the two of clubs.</h1>
             <h1 class='gameMessage' id="your-play-message" ng-if="$ctrl.playerTurn===true">Your play.</h1>
            <h1 class='gameMessage' id="smoking-message" ng-if="$ctrl.smoking===true">Smoke 'em if you got 'em.</h1>
             <h1 class='gameMessage' id="whomp-message" ng-if="$ctrl.whomp===true">Bam!</h1>
            <h1 class ='gameMessage' id="trickMessage" ng-if="$ctrl.turnOver===true">{{$ctrl.players[$ctrl.high].name}} took the trick</h1>
            <h1 class ='gameMessage' id="runMessage" ng-if="$ctrl.runMessage===true">{{$ctrl.players[$ctrl.run].name}} successfully shot the moon!</h1>
            <h1 class ='errorMessage' id="small-pass-message" ng-if="$ctrl.badPass===true">You must select exactly 3 cards to pass to {{$ctrl.passPlayer.name}}.<br>You have {{$ctrl.passArray.length}} cards selected.</h1>
            <h1 class ='errorMessage' id="notVoidedMessage" ng-if="$ctrl.suitError===true">The lead was {{$ctrl.leadSuit}}.  <br>You cannot play {{$ctrl.playerSuit}} while you still <br>have {{$ctrl.leadSuit}} in your hand.  <br>Nice try!</h1>
             <h1 class ='errorMessage' id="firstHandMessage" ng-if="$ctrl.firstHandError===true">You cannot play any point card <br>(a Heart or the Queen of Spades) on the first hand.<br>Amateur!</h1>
              <h1 class ='errorMessage' id="twoErrorMessage" ng-if="$ctrl.twoError===true">If you have the deuce, <br>you've gotta play the deuce.</h1>
               <h1 class ='errorMessage' id="heartsBrokenMessage" ng-if="$ctrl.heartLeadError===true">You cannot lead a heart until they've been broken<br> (or unless you have nothing else).</h1>
            <button class="button" id="playButton" ng-if="$ctrl.playReady===true" ng-click="$ctrl.startPlay()"><h1 id="playMessage" >Begin Play!</h1></button>
           
               <button class="button" id="playButton" ng-if="$ctrl.playAgain===true" ng-click="$ctrl.newGame()"><h1 id="playMessage" >Play Again</h1></button>
        </div>

<!--player gallery-->
        <div id="playerGallery" ng-if="$ctrl.playerSelect === true && $ctrl.opponentSelect===false">
              <li class="playerGalleryItem" ng-repeat="player in $ctrl.playerGallery">
                    <button  ng-click="$ctrl.selectPlayer(player)" ng-class="{'playerButton' : $ctrl.players[0]===player, 'galleryButton' : $ctrl.players[0]!==player}"><img src="{{player.src}}" ><p class="playerLabel">{{player.name}}</p></button>
            </li>
        </div>

<!--2nd player gallery-->
        <div id="playerGallery" ng-if="$ctrl.opponentSelect === true">
              <li class="playerGalleryItem" ng-repeat="player in $ctrl.playerGallery">
                    <button ng-if="$ctrl.players[0]!==player" class="galleryButton" ng-click="$ctrl.selectOpponent(player)" ng-class="{'playerButton' : $ctrl.players[0]===player, 'opponentButton' : $ctrl.players.indexOf(player)!==-1}"><p ng-class="{'easyLabel' : player.difficulty==='easy', 'hardLabel' : player.difficulty==='hard'}">{{player.difficulty}}</p><img src="{{player.src}}" ><p class="playerLabel">{{player.name}}</p></button>
            </li>
        </div>

<!--scoreboard-->
        <div id="scoreboard" ng-if="$ctrl.beginning === false">
            <table>
                <th>
                    <td>{{$ctrl.players[0].name}}</td>
                    <td>{{$ctrl.players[1].name}}</td>
                    <td>{{$ctrl.players[2].name}}</td>
                    <td>{{$ctrl.players[3].name}}</td>
                </th>

                <tr>
                    <td id="semitotal">Hand Points</td>
                    <td id="semitotal"> {{$ctrl.playerSemis[0]}}</td>
                    <td id="semitotal"> {{$ctrl.playerSemis[1]}}</td>
                    <td id="semitotal"> {{$ctrl.playerSemis[2]}}</td>
                    <td id="semitotal"> {{$ctrl.playerSemis[3]}}</td>
                </tr>

                <tr>
                    <td>Total Points</td>
                    <td id="score"> {{$ctrl.playerScores[0]}}</td>
                    <td id="score"> {{$ctrl.playerScores[1]}}</td>
                    <td id="score"> {{$ctrl.playerScores[2]}}</td>
                    <td id="score"> {{$ctrl.playerScores[3]}}</td>
                </tr>
              
            </table>
        </div>

        <div class="playArea">

            <image id="player0Image" ng-if="$ctrl.beginning===false" src={{$ctrl.players[0].src}} 
             ng-class="{'currentPlayerImage' : $ctrl.high===0, 'playerImage' : $ctrl.high!==0}">
            <image id="player0Card" ng-if="$ctrl.playedCards[0]" src="{{$ctrl.playedCards[0].image}}" ng-class="{'leadCardImage': $ctrl.lead === 0}">
            <image id="player1Image" ng-if="$ctrl.beginning===false" src={{$ctrl.players[1].src}} ng-class="{'currentPlayerImage' : $ctrl.high===1, 'playerImage' : $ctrl.high!==1, 'passPlayerImage' : $ctrl.passFlag[1]}">
            <image id="player1Card" ng-if="$ctrl.playedCards[1]" src="{{$ctrl.playedCards[1].image}}" ng-class="{'leadCardImage': $ctrl.lead === 1}">
             <image ng-class="{'currentPlayerImage' : $ctrl.high===2, 'playerImage' : $ctrl.high!==2, 'passPlayerImage' : $ctrl.passFlag[2]}"id="player2Image" ng-if="$ctrl.beginning===false" src={{$ctrl.players[2].src}} >
            <image id="player2Card" ng-if="$ctrl.playedCards[2]" src="{{$ctrl.playedCards[2].image}}" ng-class="{'leadCardImage': $ctrl.lead === 2}">
            <image ng-class="{'currentPlayerImage' : $ctrl.high===3, 'playerImage' : $ctrl.high!==3, 'passPlayerImage' : $ctrl.passFlag[3]}" id="player3Image" ng-if="$ctrl.beginning===false" src={{$ctrl.players[3].src}} >
            <image id="player3Card" ng-if="$ctrl.playedCards[3]" src="{{$ctrl.playedCards[3].image}}" ng-class="{'leadCardImage': $ctrl.lead === 3}">  
            <button class="button" id="newTrickButton" ng-if="$ctrl.turnOver===true" ng-click="$ctrl.newTrick()"><h1 id="buttonMessage">Next Trick</h1></button>
        </div>

        <!--<div class="compHand">
            <ul class="comp1Hand">
                <li class="comp1Card" ng-repeat="compCard in $ctrl.hands[1]" >
                    <img src="{{compCard.image}}" >
                </li>
            </ul>
        </div>
        <div class="compHand2">
        </div>
        <div class="compHand3">
        </div>-->

      
        <div class="playerHand">
            <ul class="hand">
                <li class="playerCard" ng-repeat="card in $ctrl.hand" >
                    <button ng-click="$ctrl.clicked(card)" ng-class="{'selectedCard' : card.toggled, 'cardButton' : !card.toggled}"><img src="{{card.image}}" ></button>
                </li>
            </ul>
        </div>

    </div>
</section>
