.button {
  margin: 1vw;
  font-weight: 700;
  border: none;
  color: #FFF;
  background-color: #D40000;
  padding: 1% 3%;
  border-radius: 1vh; }

.button:active {
  background-color: #000000;
  cursor: pointer; }

.button:hover {
  background-color: #000000;
  cursor: pointer; }

* {
  font-family: 'Fredericka the Great', cursive; }

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  /*font-family: "Open Sans", sans-serif;*/
  font-weight: 300;
  overflow: hidden; }

h1 {
  font-size: 15vh;
  /*font-family: 'Open Sans', serif;*/
  font-weight: 800;
  margin: 0 auto; }

h2 {
  color: black;
  font-size: 10vh;
  margin: 0vh 1vh 1vh 1vh; }

h3 {
  margin-left: 5vw;
  font-size: 3.3vh;
  color: #D40000; }

h4 {
  font-size: 3.3vh;
  color: white;
  display: inline; }

input {
  margin-left: 10vw; }

b {
  font-weight: 600; }

p {
  font-size: 6vh; }

ul {
  list-style: none;
  padding: 0;
  margin: 0px; }

/* Link Styles */
a, a:link, a:active {
  text-decoration: none; }

nav {
  color: black;
  margin: 0 auto; }

nav a {
  color: #FFF; }

hr {
  margin-top: 3%;
  margin-bottom: 3%; }

footer {
  width: 100vw;
  clear: both;
  text-align: center;
  font-size: 2.25vh;
  padding: 1%;
  color: #FFF;
  background-color: #D40000;
  position: absolute;
  height: 8vh;
  bottom: 0px; }

table {
  padding-top: 4vh; }

td {
  font-size: 4vh;
  padding-left: 2vw;
  font-family: 'Reenie Beanie', cursive; }

img {
  height: 15vh;
  display: inline-block;
  border-radius: 1vh;
  z-index: 1; }

#playMessage {
  font-size: 10vh;
  color: #D40000; }

.button {
  text-align: center;
  margin: auto; }

#deal-button {
  width: 100vw;
  border: 1vh solid black;
  margin: 2vh 0vh; }

.hiddenScoreboard {
  display: none; }

.hiddenPlayArea {
  display: none; }

.scoreboard {
  display: flex;
  background-image: url("http://www.clipartkid.com/images/276/lined-paper-aycQXZ-clipart.png");
  height: 30vh;
  width: 100vw;
  position: static; }

.gameMessage {
  font-size: 3vh;
  color: white;
  padding-left: 1vw; }

.errorMessage {
  font-size: 3vh;
  color: #D40000; }

.playerImage {
  height: 8vh;
  margin: 1vh;
  padding: 0.5vh;
  border-radius: 2vh;
  border: 1vh solid #105910; }

#player0Card {
  position: fixed;
  top: 56vh;
  left: 40vw; }

#player0Image {
  position: fixed;
  top: 70vh;
  left: 40vw; }

#player1Card {
  position: fixed;
  top: 40vh;
  left: 30vw; }

#player1Image {
  position: fixed;
  top: 42vh;
  left: 0vw; }

#player2Card {
  position: fixed;
  top: 24vh;
  left: 40vw; }

#player2Image {
  position: fixed;
  top: 12vh;
  left: 40vw; }

#player3Card {
  position: fixed;
  top: 40vh;
  left: 52vw; }

#player3Image {
  position: fixed;
  top: 42vh;
  left: 82vw; }

.currentPlayerImage {
  height: 8vh;
  background-color: black;
  border: 1vh solid #D40000; }

.passPlayerImage {
  background-color: #D40000;
  border: 1vh solid black; }

.footerText {
  padding: 0vh;
  margin: 0vh 0vh 2vh 0vh; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.main-nav {
  display: block;
  margin: 0 auto;
  background-color: black;
  opacity: 0.85;
  list-style: none;
  width: 100%; }

#play-page {
  background-color: #105910;
  height: 97vh; }

.playerGalleryItem {
  float: left;
  list-style: none; }

.galleryButton {
  background-color: white;
  width: 12vw; }

.galleryButton:hover {
  cursor: pointer;
  background-color: black;
  color: white; }

.playerButton {
  background-color: black;
  color: #D40000;
  width: 12vw; }

.opponentButton {
  background-color: black;
  color: #D40000;
  width: 12vw; }

.easyLabel {
  color: #105910;
  font-size: 3vh; }

.hardLabel {
  color: #D40000;
  font-size: 3vh; }

.playerLabel {
  font-size: 3vh; }

.hand {
  list-style-type: none;
  display: block;
  position: absolute;
  bottom: 0vh; }

.compHand1 {
  list-style-type: none;
  display: block;
  position: absolute;
  bottom: 30vh; }

.compHand2 {
  position: absolute;
  bottom: 30vh; }

.compHand3 {
  position: absolute;
  bottom: 40vh; }

.playerCard {
  list-style-type: none;
  display: inline-block;
  width: 6vw;
  z-index: 1; }
  .playerCard:hover {
    cursor: pointer; }

.comp1Card {
  bottom: 40vh;
  list-style-type: none;
  display: inline-block;
  width: 6vw; }

.comp2Card {
  display: inline-block;
  width: 4vw; }

.comp3Card {
  display: inline-block;
  width: 4vw; }

.playerCard:hover {
  cursor: pointer;
  position: relative;
  bottom: +10px; }

.cardButton {
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 1vh; }
  .cardButton:hover {
    cursor: pointer; }

.selectedCard {
  padding: 1vh;
  position: absolute;
  bottom: 26vh;
  background-color: #D40000;
  border-radius: 2vh;
  border-color: black; }

.link {
  display: none;
  padding: 1% 5%;
  text-align: center;
  font-size: 3vh; }

.activeLink {
  color: #105910; }

.branding {
  color: #FFF;
  font-size: 3vh;
  font-weight: bold;
  text-shadow: 3px 4px 4px black; }

.icon-menu {
  text-align: center;
  font-size: 6vh; }

a:hover {
  cursor: pointer;
  color: #D40000; }

#playMessage {
  color: #D40000;
  font-size: 5vh; }

#playButton {
  background-color: white; }
  #playButton:hover {
    background-color: black; }

#buttonMessage {
  color: white;
  font-size: 3vh; }

#bigButtonMessage {
  color: white;
  font-size: 10vh; }

#newTrickButton {
  position: absolute;
  left: 5vw;
  bottom: 18vh; }

.playArea {
  height: 900vh; }

#score {
  padding-left: 3vw; }

#semitotal {
  padding-left: 3vw;
  color: #D40000; }

#rules-page {
  height: 85vh;
  background-color: black; }

.rulesRow {
  display: inline-flex;
  float: right;
  background-color: black; }

.rulesRowLeft {
  display: inline-flex;
  float: left;
  background-color: black; }

.rulesImage {
  padding-right: 10vw;
  height: 10vh; }

.rulesMessage {
  font-size: 5vh;
  color: #D40000; }

.rulesLink {
  color: #105910; }

#about-page {
  height: 85vh; }

.tab {
  margin-left: 2vh;
  font-size: 4vh; }

#aboutImage {
  float: right;
  height: 80vh;
  padding: 1vh; }

#home-page {
  height: 92vh;
  background-color: #D40000; }

#homeTitle {
  margin-left: 10vw;
  font-size: 10vh; }

#goatImage {
  margin-left: 30vw;
  height: 35vh; }

#playGameButton {
  margin-left: 26.5vw;
  background-color: white; }
  #playGameButton:hover {
    background-color: black; }

#phoneMessage {
  display: block;
  color: white;
  font-size: 10vh; }

#settings-page {
  height: 85vh;
  background-color: black; }

/* Media Query Stuff */
/* Larger cell screen, changes image only */
@media only screen and (min-width: 1024px) {
  /* Minor styling: larger image and fonts to match new screen size */
  img {
    height: 24vh; }
  .main-nav ul li {
    padding: 1% 5%; }
  .icon-menu {
    font-size: 3.3vh; }
  #home-page {
    height: 90vh; }
  #homeTitle {
    margin-left: 30vw;
    font-size: 10vh; }
  #homeSubtitle {
    margin-left: 20vw; }
  #goatImage {
    margin-left: 42vw;
    height: 43vh; }
  #playGameButton {
    margin-left: 40vw;
    background-color: white; }
    #playGameButton:hover {
      background-color: black; }
  #deal-button {
    width: auto;
    border: 1vh solid black;
    margin: 2vh 0vh; }
  .hiddenScoreboard {
    display: flex;
    background-image: url("http://www.clipartkid.com/images/276/lined-paper-aycQXZ-clipart.png");
    height: 30vh;
    width: 33vw;
    position: fixed;
    right: 0vw;
    top: 10vh; }
  .scoreboard {
    display: flex;
    background-image: url("http://www.clipartkid.com/images/276/lined-paper-aycQXZ-clipart.png");
    height: 30vh;
    width: 33vw;
    position: fixed;
    right: 0vw;
    top: 10vh; }
  .hiddenPlayArea {
    display: flex; }
  .gameMessage {
    font-size: 5vh;
    color: white;
    padding-left: 1vw; }
  .errorMessage {
    font-size: 4vh;
    color: #D40000; }
  .playerImage {
    height: 15vh;
    padding: 1vh;
    border-radius: 2vh; }
  .currentPlayerImage {
    height: 15vh;
    background-color: black;
    border: 1vh solid #D40000; }
  .passPlayerImage {
    padding: 0.5vh;
    background-color: #D40000;
    border-radius: 2vh;
    border: 1vh solid black; }
  .leadCardImage {
    padding: 0.5vh;
    background-color: black;
    border-radius: 2vh;
    border: 0.5vh solid #D40000;
    top: +1vh; }
  #player0Card {
    position: fixed;
    top: 50vh;
    left: 45vw; }
  #player0Image {
    position: static;
    padding: 3vh; }
  #player1Card {
    position: fixed;
    top: 50vh;
    left: 34vw; }
  #player1Image {
    position: fixed;
    top: 55vh;
    left: 10vw; }
  #player2Card {
    position: fixed;
    top: 25vh;
    left: 45vw; }
  #player2Image {
    position: fixed;
    top: 7vh;
    left: 45vw; }
  #player3Card {
    position: fixed;
    top: 50vh;
    left: 56vw; }
  #player3Image {
    position: fixed;
    top: 55vh;
    left: 77vw; }
  .selectedCard {
    z-index: 0; }
  #newTrickButton {
    bottom: 25vh;
    left: 19.5vw; } }

@media only screen and (min-width: 1600px) {
  /* Minor styling: larger image and fonts to match largest screen size */
  .link {
    padding: 1% 8%; }
  .icon-menu {
    font-size: 3.6vh; }
  .firstLink {
    padding-left: 0%; } }

/*# sourceMappingURL=main.css.map*/