.button {
  font-weight: 700;
  border: none;
  color: #FFF;
  background-color: #D40000;
  padding: 1% 3%;
  border-radius: 1vh; }

.button:active {
  background-color: #000000;
  cursor: pointer; }

.button:hover {
  background-color: #000000;
  cursor: pointer; }

* {
  font-family: 'Fredericka the Great', cursive; }

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  /*font-family: "Open Sans", sans-serif;*/
  font-weight: 300; }

h1 {
  font-size: 5em;
  /*font-family: 'Open Sans', serif;*/
  font-weight: 800;
  margin: 0 auto; }

h2 {
  color: black;
  font-size: 5em; }

h3 {
  font-size: 1.1em; }

b {
  font-weight: 600; }

p {
  font-size: 2em; }

ul {
  list-style: none;
  padding: 0;
  margin: 0px; }

/* Link Styles */
a, a:link, a:active {
  text-decoration: none; }

nav {
  color: black;
  margin: 0 auto; }

nav a {
  color: #FFF; }

hr {
  margin-top: 3%;
  margin-bottom: 3%; }

footer {
  clear: both;
  text-align: center;
  font-size: 0.75em;
  padding: 1%;
  color: #FFF;
  background-color: #D40000; }

table {
  padding-top: 4vh; }

td {
  font-size: 4vh;
  padding-left: 2vw;
  font-family: 'Reenie Beanie', cursive; }

img {
  height: 24vh;
  display: inline-block;
  border-radius: 1vh; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.gameMessage {
  font-size: 3em;
  color: white;
  padding-left: 1vw; }

.errorMessage {
  font-size: 2em;
  color: #D40000; }

.main-nav {
  display: block;
  margin: 0 auto;
  background-color: black;
  opacity: 0.85;
  list-style: none;
  width: 100%; }

#play-page {
  background-color: #105910;
  height: 85vh; }

#scoreboard {
  background-image: url("http://www.clipartkid.com/images/276/lined-paper-aycQXZ-clipart.png");
  height: 30vh;
  width: 30vw;
  position: fixed;
  right: 0vw;
  top: 10vh; }

.hand {
  list-style-type: none;
  display: block;
  position: absolute;
  bottom: 0vh; }

.compHand1 {
  list-style-type: none;
  display: block;
  position: absolute;
  bottom: 30vh; }

.compHand2 {
  position: absolute;
  bottom: 30vh; }

.compHand3 {
  position: absolute;
  bottom: 40vh; }

.playerCard {
  list-style-type: none;
  display: inline-block;
  width: 6vw; }
  .playerCard:hover {
    cursor: pointer; }

.comp1Card {
  bottom: 40vh;
  list-style-type: none;
  display: inline-block;
  width: 6vw; }

.comp2Card {
  display: inline-block;
  width: 4vw; }

.comp3Card {
  display: inline-block;
  width: 4vw; }

.playerCard:hover {
  cursor: pointer;
  position: relative;
  bottom: +10px; }

.cardButton {
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 1vh; }
  .cardButton:hover {
    cursor: pointer; }

.selectedCard {
  padding: 1vh;
  bottom: +30px;
  background-color: red;
  border-radius: 2vh;
  border-color: black; }

.link {
  display: none;
  padding: 1% 5%;
  text-align: center;
  font-size: .95em; }

.branding {
  color: #FFF;
  font-size: 1.75em;
  font-weight: bold;
  text-shadow: 3px 4px 4px black; }

.icon-menu {
  text-align: center;
  font-size: 2em; }

a:hover {
  cursor: pointer;
  color: #D40000; }

#playMessage {
  color: #D40000;
  font-size: 3em; }

#playButton {
  background-color: white; }
  #playButton:hover {
    background-color: black; }

#buttonMessage {
  color: white;
  font-size: 3em; }

#newTrickButton {
  position: absolute;
  bottom: 25vh;
  left: 15vw; }

.playArea {
  height: 80vh; }

.playerImage {
  height: 120px; }

.passPlayerImage {
  height: 120px;
  padding: 1vh;
  background-color: red;
  border-radius: 2vh;
  border-color: black; }

#player0Card {
  position: fixed;
  top: 50vh;
  left: 45vw; }

#player1Card {
  position: fixed;
  top: 50vh;
  left: 35vw; }

#player1Image {
  position: fixed;
  top: 55vh;
  left: 15vw; }

#player2Card {
  position: fixed;
  top: 25vh;
  left: 45vw; }

#player2Image {
  position: fixed;
  top: 18vh;
  left: 45vw; }

#player3Card {
  position: fixed;
  top: 50vh;
  left: 55vw; }

#player3Image {
  position: fixed;
  top: 55vh;
  left: 75vw; }

#score {
  padding-left: 3vw; }

#semitotal {
  padding-left: 3vw;
  color: #D40000; }

#rules-page {
  height: 85vh;
  background-color: black; }

.rulesRow {
  display: inline-flex;
  float: right;
  background-color: black; }

.rulesRowLeft {
  display: inline-flex;
  float: left;
  background-color: black; }

.rulesImageRight {
  padding-left: 10vw; }

.rulesImageLeft {
  padding-right: 10vw; }

.rulesMessage {
  font-size: 3em;
  color: #D40000; }

.rulesLink {
  color: #105910; }

#about-page {
  height: 85vh; }

.tab {
  margin-left: 40px; }

#home-page {
  height: 80vh;
  background-color: #D40000; }

#homeTitle {
  margin-left: 30vw;
  font-size: 6em; }

#homeSubtitle {
  margin-left: 20vw; }

#goatImage {
  margin-left: 40vw;
  height: 43vh; }

#playGameButton {
  margin-left: 40vw;
  background-color: white; }
  #playGameButton:hover {
    background-color: black; }

/* Media Query Stuff */
@media only screen and (min-width: 481px) {
  /* Larger cell screen, changes image only */
  .icon-menu {
    display: none; }
  .main-nav ul li {
    display: inline-block;
    padding: 0.5% 5%; } }

@media only screen and (min-width: 640px) {
  /* First break point - switch to tablet design: 2+ columns */ }

@media only screen and (min-width: 1024px) {
  /* Minor styling: larger image and fonts to match new screen size */
  .main-nav ul li {
    padding: 1% 5%; }
  .icon-menu {
    font-size: 1.1em; } }

@media only screen and (min-width: 1600px) {
  /* Minor styling: larger image and fonts to match largest screen size */
  .main-nav ul li {
    padding: 1% 8%; }
  .icon-menu {
    font-size: 1.2em; } }

/*# sourceMappingURL=main.css.map*/