.button{
  margin: 1vw;
  font-weight:700;
  border:none;
  color:#FFF;
  background-color:#D40000;
  padding:1% 3%;
  border-radius: 1vh;
}

.button:active {
  background-color:#000000;
  cursor: pointer;
}

.button:hover {
  background-color:#000000;
  cursor: pointer;
}
