@import 'colors';
@import 'buttons';

* {
font-family: 'Fredericka the Great', cursive;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  /*font-family: "Open Sans", sans-serif;*/
  font-weight:300;
}

h1 {       
  font-size: 1.5em;
  /*font-family: 'Open Sans', serif;*/
  font-weight:800;
  margin:0 auto;
}

h2 {
  color: black;
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

b {
  font-weight:600;
}

p {
  font-size: .95em;
}

ul {
  list-style: none;
  padding:0;
}

/* Link Styles */
a, a:link, a:active {
  text-decoration: none;
}

nav {
  color:#FFF;
  margin:0 auto;
}

nav a {
  color:#FFF;
}

hr {
  margin-top:3%;
  margin-bottom:3%;
}

footer {
  clear:both;
  text-align:center;
  font-size:0.75em;
  padding:1%;
  color:#FFF;
  background-color: $red;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#small-pass-message{
  color: white;
}

.main-nav {
  display: block;
  margin:0 auto;
  background-color:#000000;
  opacity:0.85;
  list-style: none;
  width: 100%;
}

#play-page{
  background-color: $green;
  height: 80vh;
}

.hand{
  position: absolute;
  bottom: 10vh;
}

.compHand1{
  position: absolute;
  bottom: 20vh;
}

.compHand2{
  position: absolute;
  bottom: 30vh;
}

.compHand3{
  position: absolute;
  bottom: 40vh;
}
.playerCard{
  display: inline-block;
  width: 6vw;
}

.comp1Card{
  display: inline-block;
  width: 4vw;
}

.comp2Card{
  display: inline-block;
  width: 4vw;
}

.comp3Card{
  display: inline-block;
  width: 4vw;
}

img{
  height: 24vh;
  display: inline-block;
}


.playerCard:hover{
  cursor: pointer;
  position: relative;
  bottom: +10px;

}

.link {
  display: none;
  padding: 1% 5%;
  text-align: center;
  font-size: .95em;
}

.branding {
  color:#FFF;
  font-size:1.75em;
  font-weight: bold;
  text-shadow: 3px 4px 4px black;
}

.icon-menu {
  text-align: center;
  font-size: 2em;
}

a:hover{
//   font-style: italic;
  cursor: pointer;
  color: $red;
}




/* Media Query Stuff */

@media only screen and (min-width: 481px) {
  /* Larger cell screen, changes image only */

  .icon-menu {
    display: none;
  }

  .main-nav ul li {
    display: inline-block;
    padding: 0.5% 5%;
  }
}

@media only screen and (min-width: 640px) {
  /* First break point - switch to tablet design: 2+ columns */

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  /* Minor styling: larger image and fonts to match new screen size */

  .main-nav ul li {
    padding: 1% 5%;
  }

  .icon-menu {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1600px) {
  /* Minor styling: larger image and fonts to match largest screen size */
  .main-nav ul li {
    padding: 1% 8%;
  }


  .icon-menu {
    font-size: 1.2em;
  }
}

