@import 'colors';
@import 'buttons';

* {
font-family: 'Fredericka the Great', cursive;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  /*font-family: "Open Sans", sans-serif;*/
  font-weight:300;
}

h1 {       
  font-size: 5em;
  /*font-family: 'Open Sans', serif;*/
  font-weight:800;
  margin:0 auto;
}

h2 {
  color: black;
  font-size: 5em;
}

h3 {
  font-size: 1.1em;
}

b {
  font-weight:600;
}

p {
  font-size: .95em;
}

ul {
  list-style: none;
  padding:0;
  margin: 0px;
}

/* Link Styles */
a, a:link, a:active {
  text-decoration: none;
}

nav {
  color:black;
  margin:0 auto;
}

nav a {
  color:#FFF;
}

hr {
  margin-top:3%;
  margin-bottom:3%;
}

footer {
  clear:both;
  text-align:center;
  font-size:0.75em;
  padding:1%;
  color:#FFF;
  background-color: $red;
}

table{
  padding-top: 4vh;
}

td{
  font-size: 2.5em;
  padding-left: 2vw;
  font-family: 'Reenie Beanie', cursive;
}

img{
  height: 24vh;
  display: inline-block;
border-radius: 1vh;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.gameMessage{
    font-size: 3em;
    color: white;
     padding-left: 1vw;
}

.errorMessage{    
    font-size: 2em;
    color: $red;
}

.main-nav {
  display: block;
  margin:0 auto;
  background-color:black;
  opacity:0.85;
  list-style: none;
  width: 100%;
}

#play-page{
  background-color: $green;
  height: 85vh;
}

#scoreboard{
  background-image: url("http://www.clipartkid.com/images/276/lined-paper-aycQXZ-clipart.png");
  height: 30vh;
  width: 30vw;
  position: fixed;
  right: 0vw;
  top: 10vh;
}

.hand{
 list-style-type: none;
  display: block;
  position: absolute;
  bottom: 0vh;
}

.compHand1{
 list-style-type: none;
  display: block;
  position: absolute;
  bottom: 30vh;
}

.compHand2{
  position: absolute;
  bottom: 30vh;
}

.compHand3{
  position: absolute;
  bottom: 40vh;
}
.playerCard{
  list-style-type: none;
  display: inline-block;
  width: 6vw;
    &:hover{
    cursor: pointer;
    }
}

.comp1Card{
    // position: absolute;
  bottom: 40vh;
 list-style-type: none;
  display: inline-block;
  width: 6vw;
}

.comp2Card{
  display: inline-block;
  width: 4vw;
}

.comp3Card{
  display: inline-block;
  width: 4vw;
}

.playerCard:hover{
  cursor: pointer;
  position: relative;
  bottom: +10px;

}

.cardButton{
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 1vh;
    &:hover{
        cursor: pointer;
    }
}

.selectedCard{
    padding: 1vh;
    bottom: +30px;
    background-color: red;
    border-radius: 2vh;
    border-color: black;
}

.link {
  display: none;
  padding: 1% 5%;
  text-align: center;
  font-size: .95em;
}

.branding {
  color:#FFF;
  font-size:1.75em;
  font-weight: bold;
  text-shadow: 3px 4px 4px black;
}

.icon-menu {
  text-align: center;
  font-size: 2em;
}

a:hover{
//   font-style: italic;
  cursor: pointer;
  color: $red;
}

#playMessage{
  color:$red;
  font-size: 3em;
}

#playButton{
  background-color: white;
  &:hover{
    background-color: black;
  }
}

#buttonMessage{
  color:white;
  font-size: 3em;
}

#newTrickButton{
  position: absolute;
  bottom: 25vh;
  left: 15vw;
}

.playArea{
  height: 80vh;
}

.playerImage{
  height: 120px;
}
#player0Card{
  position: fixed;
  top: 50vh;
  left: 45vw;
}

#player1Card{
  position: fixed;
  top: 50vh;
  left: 35vw;
}

#player1Image{
  position: fixed;
  top: 55vh;
  left: 15vw;
}

#player2Card{
  position: fixed;
  top: 25vh;
  left: 45vw;
}

#player2Image{
  position: fixed;
  top: 18vh;
  left: 45vw;
}

#player3Card{
  position: fixed;
  top: 50vh;
  left: 55vw;
}

#player3Image{
  position: fixed;
  top: 55vh;
  left: 75vw;
}

#score{
  padding-left: 3vw;
}

#semitotal{
  padding-left: 3vw;
  color: $red;
}

// rules page
#rules-page{
  background-color: black;
}
.rulesRow{
  display: inline-flex;
  float: right;
}

.rulesRowLeft{
  display: inline-flex;
  float: left;
}
.rulesImageRight{
  padding-left: 10vw;
}

.rulesImageLeft{
  padding-right: 10vw; 
}

.rulesMessage{
  font-size: 3em;
  color: $red;
}


/* Media Query Stuff */

@media only screen and (min-width: 481px) {
  /* Larger cell screen, changes image only */

  .icon-menu {
    display: none;
  }

  .main-nav ul li {
    display: inline-block;
    padding: 0.5% 5%;
  }
}

@media only screen and (min-width: 640px) {
  /* First break point - switch to tablet design: 2+ columns */

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  /* Minor styling: larger image and fonts to match new screen size */

  .main-nav ul li {
    padding: 1% 5%;
  }

  .icon-menu {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1600px) {
  /* Minor styling: larger image and fonts to match largest screen size */
  .main-nav ul li {
    padding: 1% 8%;
  }


  .icon-menu {
    font-size: 1.2em;
  }
}

