
* {
font-family: 'Fredericka the Great', cursive;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  /*font-family: "Open Sans", sans-serif;*/
  font-weight:300;
}

/* Text and heading formatting */
h1 {       /* Styling for the hero title is in modules */
  font-size: 1.5em;
  /*font-family: 'Open Sans', serif;*/
  font-weight:800;
  margin:0 auto;
}

h2 {
  color: black;
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

b {
  font-weight:600;
}

p {
  font-size: .95em;
}

ul {
  list-style: none;
  padding:0;
}

/* Link Styles */
a, a:link, a:active {
  text-decoration: none;
}
