.main-nav {
  display: block;
  margin:0 auto;
  background-color:#000000;
  opacity:0.85;
  list-style: none;
  width: 100%;
}

#play-page{
  background-color: #105910;
  height: 80vh;
}

.hand{
  position: absolute;
  bottom: 10vh;
}

.playerCard{
  display: inline-block;
  width: 6vw;
}

img{
  height: 24vh;
}


.playerCard:hover{
  cursor: pointer;
  position: absolute;
  bottom: +5px;

}

.link {
  display: none;
  padding: 1% 5%;
  text-align: center;
  font-size: .95em;
}

.branding {
  color:#FFF;
  font-size:1.75em;
  font-weight: bold;
  text-shadow: 3px 4px 4px black;
}

.icon-menu {
  text-align: center;
  font-size: 2em;
}

a:hover{
  font-style: italic;
}

.button{
  font-weight:700;
  border:none;
  color:#FFF;
  background-color:#D40000;
  padding:1% 3%;
}

.button:active {
  background-color:#000000;
  cursor: pointer;
}

.button:hover {
  background-color:#000000;
  cursor: pointer;
}


/* Media Query Stuff */

@media only screen and (min-width: 481px) {
  /* Larger cell screen, changes image only */

  .icon-menu {
    display: none;
  }

  .main-nav ul li {
    display: inline-block;
    padding: 0.5% 5%;
  }
}

@media only screen and (min-width: 640px) {
  /* First break point - switch to tablet design: 2+ columns */

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  /* Minor styling: larger image and fonts to match new screen size */

  .main-nav ul li {
    padding: 1% 5%;
  }

  .hero {
    background-image: url('../img/map-1600.png');
  }

  .icon-menu {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1600px) {
  /* Minor styling: larger image and fonts to match largest screen size */
  .main-nav ul li {
    padding: 1% 8%;
  }

  .hero {
    background-image: url('../img/map-2000.png');
  }

  .icon-menu {
    font-size: 1.2em;
  }
}
