<section class ="page" id="rules-page">
    <div>RULES PAGE</div>
    <div class="rulesRow">
    <h1 class="rulesMessage">The ten of hearts counts as 10 points, this is the Carter Family rule.  </h1> <image class="rulesImageRight" src="../images/10H.png">
    </div>
    <div class="rulesRowLeft"> 
    <image class="rulesImageLeft" src="../images/7H.png"> <h1 class="rulesMessage">  All other hearts count as 1 point.</h1>
    </div>
    <div class="rulesRow">
    <h1 class="rulesMessage">The queen of spades hits for 13 points!  </h1> <image class="rulesImageRight" src="../images/QS.png">
    </div>
    <div class="rulesRowLeft"> 
    <image class="rulesImageLeft" src="../images/4S.png"> <h1 class="rulesMessage">  Every other card is worth zero points.</h1>
    </div> 
</section>
  