<section class ="page" id="rules-page">
    <h1 class="rulesMessage">The ten of hearts counts as 10 points, this is the Carter Family rule.  </h1> <image class="rulesImageRight" src="../images/10H.png">
   <h1 class="rulesMessage">All other hearts count as 1 point.</h1><image class="rulesImageLeft" src="../images/7H.png"> 
    <h1 class="rulesMessage">The queen of spades hits for 13 points!  </h1><image class="rulesImageRight" src="../images/QS.png">
    <h1 class="rulesMessage">  Every other card is worth zero points.</h1><image class="rulesImageLeft" src="../images/4S.png">
    <h1 class="rulesMessage">  There are a total of <em>35</em> points per hand.</h1>
    <h1 class="rulesMessage">  For hearts beginners, please see <a class="rulesLink" href="http://www.bicyclecards.com/how-to-play/hearts/">basic hearts rules</a></h1>
</section>
  